<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Google Invisible Recaptcha V2 Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>

<body>
    <div class="container"><br />
        <h1>Google Invisible Recaptcha V2 Sample</h1><br />
        <form>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label for="name">your Last Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <div id='recaptcha' class="g-recaptcha" data-sitekey="6LcAFaUUAAAAAGHnntWkwhELAtyoZ183ojMWD_Du"
                        data-callback="onSubmit" data-size="invisible"></div>
                    <button id='submit'>submit</button>
                </div>
            </div>
        </form>
        <div class="text-center">
            <a href="/">
                <h2>Home</h2>
            </a>
        </div>
    </div>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
        onload();
        function onSubmit(token) {
            console.log('onSubmit executed...')
            alert('thanks ' + document.getElementById('name').value + ' your token: ' + token);
            //make axios post call
            axios.post('/captchaInvisible', { name: 'ravi', 'g-recaptcha-response': token, }).then(res => {
                console.log('inside then' + res)
                console.debug(res)
            })
                .catch(err => {
                    console.log('inside err' + err)
                })
        }

        function validate(event) {
            console.log('validate executed...')
            event.preventDefault();
            if (!document.getElementById('name').value) {
                alert("You must add text to the required field");
            } else {
                grecaptcha.execute();
            }
        }
        function onload() {
            console.log('onload... executed..!!')
            var element = document.getElementById('submit');
            element.onclick = validate;
        }
    </script>
</body>

</html>